body {
  margin: 0;
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  color: #1f2937;
}

input,
select,
button {
  font-family: inherit;
  font-size: 100%;
}

select {
  background-color: white;
}

button {
  background-color: transparent;
  border: none;
}

button:disabled[class="button-primary"] {
  background-color: #cbd5e1;
}

button:disabled[class="button-text"] {
  opacity: 0.4;
}

button:disabled:hover {
  text-decoration: none;
  cursor: default;
}

.text-input input:not([type="checkbox"]),
select {
  color: inherit;
  padding: 0.3rem 0.5rem;
  border: none;
  outline: 1px solid #9ca3af;
  border-radius: 0.125rem;
}

.text-input input:not([type="checkbox"]):focus,
select:focus {
  outline: 2px solid #334155;
}

.text-input input:not([type="checkbox"]).invalid-input,
select.invalid-input {
  outline: 1px solid #ef4444;
}

.text-input input:not([type="checkbox"]).invalid-input:focus,
select.invalid-input:focus {
  outline: 2px solid #ef4444;
}

.text-input > label {
  display: inline-block;
  width: 15rem;
  text-align: right;
  font-weight: bolder;
  margin-right: 1rem;
}

ul {
  list-style-type: none;
  padding: 1rem 0;
}

form li {
  display: flex;
}

form {
  overflow: auto;
}

.app {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 1rem 1rem 1rem;
  box-sizing: border-box;
}

.wizard-container {
  background-color: #f8fafc;
  border-radius: 0.5rem;
  width: 45rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  max-height: 100%;
  display: flex;
  flex-direction: column;
}

.title-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0.7rem;
  align-items: center;
  font-size: larger;
  border-bottom: 1px solid #e2e8f0;
}

.witch-hat-container {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.witch-hat-container img {
  opacity: 0.9;
}

.nav-steps-bar {
  display: flex;
  justify-content: flex-end;
  padding: 0.5rem 0.7rem;
  align-items: center;
  border-top: 1px solid #e2e8f0;
}

.button-primary {
  padding: 0.5rem 1.2rem;
  background-color: #334155;
  border-radius: 0.25rem;
  color: white;
  font-size: larger;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button-primary:hover {
  text-decoration: underline;
}

.button-text {
  padding: 0.5rem 1.2rem;
  border-radius: 0.25rem;
  font-size: larger;
  cursor: pointer;
  color: #334155;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button-text:hover {
  text-decoration: underline;
}

.info {
  font-size: 0.9rem;
  color: #6b7280;
  margin-top: 0.2rem;
  padding-right: 1rem;
}

.text-input > div {
  width: 29rem;
}

h2 {
  text-align: center;
}

input[type="radio"] {
  visibility: hidden;
  position: absolute;
}

form[id="subscription"] label {
  background-color: #e2e8f0;
  width: 6rem;
  height: 6rem;
  border-radius: 0.25rem;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  border: 1px solid #f1f5f9;
  font-size: larger;
}

form[id="subscription"] .radio-checked {
  background-color: #334155;
  color: white;
}

form[id="subscription"] ul {
  display: flex;
  justify-content: center;
  gap: 1rem;
}

form[id="credit-card"] > div {
  display: flex;
  justify-content: center;
  padding: 1rem;
  padding-bottom: 2rem;
  overflow: hidden;
}

.cleave {
  padding: 1rem;
  font-size: larger;
  border: none;
  border-radius: 0.25rem;
  width: 17rem;
  box-sizing: border-box;
}

#card-field {
  width: 17rem;
  white-space: nowrap;
}

.valid-input:focus {
  outline: 2px solid #334155;
}

.valid-input {
  outline: 1px solid #9ca3af;
}

.cleave.invalid-input {
  outline: 1px solid #ef4444;
}

.cleave.invalid-input:focus {
  outline: 2px solid #ef4444;
}

form[id="user-consent"] ul:last-child {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

/* form[id="user-consent"] ul:last-child > li {
} */

form[id="user-consent"] ul:last-child > span {
  font-size: 0.9rem;
  color: #6b7280;
}

h3 {
  text-align: center;
}

.text-data span {
  flex: 1 1 0;
}

.text-data span:first-child {
  text-align: right;
  margin-right: 1rem;
  font-weight: bold;
}
