body {
  margin: 0;
  font-family: ui-serif, Georgia, Cambria, "Times New Roman", Times, serif;
  color: #1f2937;
}

input,
button {
  font-family: inherit;
  font-size: 100%;
}

button {
  background-color: transparent;
  border: none;
}

button:disabled[class="button-primary"] {
  background-color: #cbd5e1;
}

button:disabled[class="button-text"] {
  opacity: 0.4;
}

button:disabled:hover {
  text-decoration: none;
  cursor: default;
}

input {
  color: inherit;
  padding: 0.3rem 0.5rem;
  border: none;
  outline: 1px solid #4b5563;
  border-radius: 0.125rem;
}

input:focus {
  outline: 2px solid #334155;
}

/* input:invalid {
  outline-color: red;
} */

.invalid-input {
  outline-color: #ef4444;
}

.invalid-input:focus {
  outline-color: #ef4444;
}

label {
  display: inline-block;
  width: 12rem;
  text-align: right;
  font-weight: bolder;
  margin-right: 1rem;
}

ul {
  list-style-type: none;
  padding: 1rem 0;
}

form li {
  display: flex;
}

.app {
  background-color: white;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: flex-start;
  padding: 3rem 1rem 1rem 1rem;
  box-sizing: border-box;
}

.wizard-container {
  background-color: #f8fafc;
  border-radius: 0.5rem;
  width: 42rem;
  box-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
}

.title-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.3rem 0.7rem;
  align-items: center;
  font-size: larger;
  border-bottom: 1px solid #e2e8f0;
}

.witch-hat-container {
  display: flex;
  align-items: center;
  gap: 0.7rem;
}

.witch-hat-container img {
  opacity: 0.9;
}

.nav-steps-bar {
  display: flex;
  justify-content: space-between;
  padding: 0.5rem 0.7rem;
  align-items: center;
  border-top: 1px solid #e2e8f0;
}

.button-primary {
  padding: 0.5rem 1.2rem;
  background-color: #334155;
  border-radius: 0.25rem;
  color: white;
  font-size: larger;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button-primary:hover {
  text-decoration: underline;
}

.button-text {
  padding: 0.5rem 1.2rem;
  border-radius: 0.25rem;
  font-size: larger;
  cursor: pointer;
  color: #334155;
  display: flex;
  align-items: center;
  gap: 0.5rem;
}

.button-text:hover {
  text-decoration: underline;
}

.info {
  font-size: 0.9rem;
  color: #6b7280;
  margin-top: 0.2rem;
  padding-right: 1rem;
}

label ~ div {
  width: 29rem;
}

h2 {
  text-align: center;
}
